extends layouts/page.pug

block content
  .container-4
    h1.text-primary Hello, World!
      h5 Курсы и Пользователи:
      ul
        li Форма поиска курса
        li Формы добавления новых курсов и пользователей