doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/assets/bootstrap.min.css')
  body
    .container.mt-4
      nav.mb-3
        ul.nav
          li.nav-item
            a.nav-link(href='/') Главная
          li.nav-item
            a.nav-link(href='/users') Пользователи
      block main
      block content
      block user
      block attack

      footer.mt-5.text-muted.text-center
        p Thanks for visiting, come again soon!