extends ../layouts/page.pug

block content
  if error && error.message
    p= error.message  
  .container.mt-4
    form(action = routes.usersPath(), method = 'post')
      div.form-group.mt-3
        label Имя:
        input.form-control(type = 'text', name = 'username', value = username)
      div.form-group.mt-3
        label Email:
        input.form-control(type = 'email', name = 'email', value = email)
      div.form-group.mt-3
        label Пароль:
        input.form-control(type = 'password', name = 'password', value = password)
      div.form-group.mt-3
        label Подтверждение пароля:
        input.form-control(type = 'password', name = 'passwordConfirmation', value = passwordConfirmation)
      input.btn.btn-primary.mt-4(type = 'submit', value = 'Зарегистрировать')